{% extends 'base.html.twig' %}

{% block title %}{{ formation.title }}{% endblock %}

{% block body %}
<div id="wrapper" class="d-flex">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">{{ formation.title }}</div>
                <div class="list-group list-group-flush">
                {% for section in sections %}
                <li class="list-lesson">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">{{ section.title }}</a>
                {% for lesson in lessons %}
                {% if lesson.section.id is same as section.id %}
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ path('lesson_watch', { 'slug': formation.slug, 'id' : lesson.id }) }}">{{ lesson.title }}</a>
                
               {% endif %}
             {% endfor %}
              </div>  
            </div> 
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Suite</i></button>
                      
                    </div>
                </nav>
                <!-- Page content-->
<div class="container-fluid py-4">
                    <div class="d-flex align-items-center mb-4">
                        <i class="bi bi-mortarboard fs-3 text-primary me-2"></i>
                        <h1 class="h2 mb-0">{{ formation.title }}</h1>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="lead">{{ formation.description|raw }}</p>
                   <div class="ratio ratio-16x9 mb-4 rounded-3 overflow-hidden shadow-sm">
                    <iframe class="border-0" src="{{ formation.link }}" allowfullscreen></iframe>
                   </div>
                   <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                        <a href="#" class="btn btn-primary">
                            Continue <i class="bi bi-arrow-right ms-2"></i>
                        </a>
                   </div>
                </div>
            </div>
        </div> 
{% endfor %}
    
{% endblock %}
