{% extends 'base.html.twig' %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block body %}

                <div class="container-fluid">
                    <h1 class="mt-4">{{ lesson.title }}</h1>
                    <br>
                    <p>{{ lesson.description|raw}}</p>
                   <div class="text-center embed-responsive embed-responsive-16by9">

                    <iframe width="400" height="215" class="embed-responsive-item" src="{{lesson.video}}" allowfullscreen></iframe>
                    <br>
                    <div class="formation-img">
                    <img width="400" height="215" src="/uploads/lessons/{{ lesson.File}}">
                   
                   
                    </p>
                </div>
            </div>  
        </div> 
    
{% endblock %}
